<div class="container text-center col-md-9" id="page-content">
    <h1 class ="text-center mt-4">Nova atividade</h1>

    <% if params.present? %>
        <%= render 'form', account: @account.user_id(param[:id])%>
    <% else %>
        <%= render 'form', account: @account %>
    <% end %>

</div>
